
h5 {
	text-align: center;
}

.col-sx {
	width: auto;
	height: auto;
	border-radius: 10px;
	border-color: black;
	border-width: 0.8px;
	margin-right: 10px;
}

.col-dx {
	width: auto;
	height: auto;
	border-radius: 10px;
	border-color: black;
	border-width: 0.8px;
	margin-left: 10px;
}

label {
	color:black;
}

#Nome, #Cognome, #numeroTelefono, #Email, #Telefono {
	border:1px solid black;
	color:white;
	box-shadow: inset 0px 0px 0px 0px;
}

#Nome:focus, #Cognome:focus, #numeroTelefono:focus, #Email:focus, #Telefono:focus {
	border:2px solid black;
}