#body{
	background-color: black;
}

#btnAgency{
	display: inline-block;
	width: 150px;
}

#btnClient{
	display: inline-block;
	width: 150px;
}

#client{
	background-color: #FFCC00;
	color:black;
	font-size: 115%;
}

#agencyClient{
	background-color: #FFCC00;
	color:black;
	font-size: 115%;
}

#client:hover{
	background-color: #171717;
	color:  #FFCC00;
	border: 1px solid #FFCC00;
}

#agencyClient:hover{
	background-color: #171717;
	color:  #FFCC00;
	border: 1px solid #FFCC00;
}

#text{
	
	margin-top: 55px;
	
}

#image{
	width: 100%;
	
}