#body{
	background-color:black;	
}
#firstContainer{
	background-color:black;
}

#singUp{
	white-space: nowrap;
	color:#FFCC00;
}

label{
	color:#FFCC00;
	margin-left: 30px;
}

i{
	padding: 17px;
	position: absolute;
	color: #FFCC00;
	text-align: center;
}

#forgot-password a{
	text-decoration: none;
	color: #a8a8a8;
	cursor: pointer;
}

#forgot-password:hover{
	text-decoration: underline;
}

#register a{
	text-decoration: none;
	color: #a8a8a8;
	cursor: pointer;
}

#register a:hover{
	text-decoration: underline;
}

#FirstName, #LastName, #BirthDate, #Email, #Password, 
#inputDate, #PasswordCheck, #Address, #Name, #Piva{
	background-color:#171717;
	border:1px solid #FFCC00;
	color:white;
	padding-left: 41px;
	box-shadow: inset 0px 0px 0px 0px;
}

#FirstName:focus, #LastName:focus, #BirthDate:focus, #Email:focus, #Password:focus, 
#inputDate:focus, #PasswordCheck:focus, #Addres:focus, #Name:focus, #Piva:focus{
	border:2px solid #FFCC00;
}

#sendButton{
	white-space: nowrap;
	background-color: #FFCC00;
	color:black;
	font-size: 115%;
}

#sendButton:hover{
	background-color: #171717;
	color:  #FFCC00;
	border: 1px solid #FFCC00;
}

#cardStyle{ 
	background-color:#171717; 
	border:1px solid #FFCC00;
	margin-left:15%;
	margin-top:7%
}

#buttonProfile{
	background-color:transparent;
	color:#FFCC00;
}

#circular-square{
	border-radius:100%;
}