label{
	margin-left:2%;
}
#sendButton{
	white-space: nowrap;
	background-color: #FFCC00;
	color:black;
	font-size: 115%;
}

#sendButton:hover{
	background-color: #171717;
	color:  #FFCC00;
	border: 1px solid #FFCC00;
}
h1{
	margin-left:30%;
	margin-top:5%;
	margin-bottom:5%;
}
#LastName, #Email, #Biglietti, #data, #time, #start, #price {
	border:1px solid black;
	box-shadow: inset 0px 0px 0px 0px;
}
#LastName:focus, #Email:focus, #Biglietti:focus, #data:focus, #time:focus, #start:focus, #price:focus {
	border:2px solid;
}