#body{
	background-color:black;	
}
#firstContainer{
	background-color:black;
}

#singUp{
	color:#FFCC00;
}

label{
	color:#FFCC00;
}


#FirstName, #LastName, #BirthDate, #Email, #Password, #inputDate{
	background-color:black;
	border:1px solid #FFCC00;
	color:white;
}

#FirstName:focus, #LastName:focus, #BirthDate:focus, #Email:focus, #Password:focus, #inputDate:focus{
	background-color:black;	
	border:2px solid #FFCC00;
	color:white;
}

#sendButton{
	background-color: #FFCC00;
	color:black;
	border:1px solid #FFCC00;
}

#sendButton:hover{
	background-color: black;
	color:  #FFCC00;
	border:1px solid #FFCC00;
	
}