#body{
	background-color:black;	
}
#firstContainer{
	background-color:black;
}

#singUp{
	color:green;
}

label{
	color:green;
}

#floatingFirtsName{
	background-color:black;
	border:1px solid #4CAF50;
}

#floatingLastName{
	background-color:black;	
	border:1px solid #4CAF50;
}

#floatingBirthDate{
	background-color:black;	
	border:1px solid #4CAF50;
}

#floatingEmail{
	background-color:black;	
	border:1px solid #4CAF50;
}

#floatingPassword{
	background-color:black;	
	border:1px solid #4CAF50;
}

#inputDate{
	background-color:black;
	border:1px solid #4CAF50;	
}

#sendButton{
	color:green;
	border:1px solid #4CAF50;
}